<h2 style="text-align: center">CREATE ACCOUNT</h2>
<form {{action "toNextPage" on="submit"}}>
  <div style="text-align: center;padding: 0 7em 2em 0;">
    {{input type="text" value=name  placeholder='Name' size="30"}}
  </div>
  <div style="text-align: center;padding: 0 7em 2em 0;">
    {{input type="text" value=email  placeholder='Email' size="30"}}
  </div>
  <div style="text-align: center;padding: 0 7em 2em 0;">
    {{input type="text" value=phone  placeholder='Phone' size="30"}}
  </div>
  <div style="text-align: center;padding: 0 7em 2em 0;">
    {{input type="password" value=password  placeholder='Password' size="30"}}
  </div>
  <p><button style=";padding: 0 2em 1em 0;" type="submit">Continue</button></p>
</form>