{{#link-to (if isUser "search.profile" "search.project") page}}
<article class="search-result">

  <img class="result-image" src="{{photo}}">

    <div class="result-name">
      {{name}}
    </div>

  {{#if isUser}}
    {{star-rating (calc-rating rating)}}
  {{else}}
    <div class="result-description">
      {{description}}
    </div>
  {{/if}}

</article>

{{/link-to}}