{{#link-to (if isUser "search.profile" "search.project") page}}
<article class="search-result">

  <img class="result-image" src="{{photo}}">

  <div class="result-text-items">
    <div class="result-name">
      {{name}}
    </div>

    {{#if isUser}}
      {{star-rating averageRating}}
    {{else}}
      <div class="result-description">
        {{description}}
      </div>
    {{/if}}
  </div>

</article>

{{/link-to}}