{{x-toggle showLabels=true
           offLabel="SKILLS"
           onLabel="PROJECTS"
           value=myValue onToggle=(action (mut myValue))}}
{{#if myValue}}
  {{#list-filter
      filter=(action 'filterByProject')
  as |projects|}}
    <div>
      {{#each projects as |project|}}
        <article>
          <div style="display: inline-block">
            <em style="text-align: center">{{#link-to "search.project" project}}{{project.name}}{{/link-to}}</em>
            <div>
              {{project.description}}
            </div>
          </div>
          <div>
            <span>Skills Required:</span>{{project.skills}}
          </div>

        </article>
      {{/each}}
    </div>
  {{/list-filter}}
{{else}}
  {{#list-filter
      filter=(action 'filterBySkill')
  as |users|}}
    <div>
      {{#each users as |user|}}
        <article>
          <div style="display: inline-block">
            <img src="{{user.image}}" style="width: 40px; height: 40px; border-radius: 50%;" align="middle">
            <em style="text-align: center">{{#link-to "search.profile" user}}{{user.name}}{{/link-to}}</em>
            <div>
              {{star-rating user.rating}}
            </div>
          </div>

          <div>
            <span>Skills:</span>{{user.skills}}
          </div>

        </article>
      {{/each}}
    </div>
  {{/list-filter}}
{{/if}}
{{outlet}}