<div class="search-header">
  <div class="icons">
    <i class="material-icons" class="search-icon">&#xE8B6;</i>
  </div>

  {{input
    autofocus = true
    placeholder = (if toggleValue "Search projects by skill" "Search users by skill")
    class = "search-text"
    value = searchParam
    key-up = (action "search" searchParam (if toggleValue "project" "user"))}}

  <div class="icons" {{action "toggleShowToggle"}}>
    {{material-design-icon
      name = arrowValue
      class = "search-icon"}}
  </div>
</div>

{{#if showToggle}}
  {{x-toggle
    showLabels = true
    offLabel = "Users"
    onLabel = "Projects"
    value = toggleValue
    onToggle = (action "toggleSwitch")
    theme = "material"
    size = "medium"}}
  {{outlet}}
{{/if}}

<div class="results">
  {{#each results as |result|}}
    {{#search-result
      isUser = (if toggleValue false true)
      page = result
      name = result.name
      averageRating = result.averageRating
      description = result.description
      skills = result.skills
      photo = result.image}}
    {{/search-result}}
  {{/each}}
</div>