<div class="search-header">
  <div class="icons">
    {{material-design-icon
      name='search'
      class="search-icon"}}
  </div>

  {{input
    autofocus = true
    placeholder = (if toggleValue "Search projects by skill" "Search users by skill")
    class = "search-text"
    value=searchParam
    key-up = (action "search" searchParam (if toggleValue "project" "user"))}}

  <div class="icons" {{action "toggleShowToggle"}}>
    {{material-design-icon
      name = arrowValue
      class = "search-icon"}}
  </div>
</div>

{{#if showToggle}}
  {{x-toggle
    showLabels = true
    offLabel = "Users"
    onLabel = "Projects"
    value = toggleValue
    onToggle = (action (mut toggleValue))
    theme = "material"
    size = "medium"}}
  {{outlet}}
{{/if}}

{{#each results as |result|}}
  {{#search-result
    isUser = (if toggleValue false true)
    page = result
    name = result.name
    rating = result.rating
    description = result.description
    skills = result.skills}}
  {{/search-result}}
{{/each}}