<div>
  <article>
    <img src="{{model.image}}" style="width: 100px; height: 100px;" align="middle">
    <div>{{star-rating model.averageRating}}</div>
    <h2>{{model.name}}</h2>
    <div>
      {{model.skills}}
    </div>
    <div>
      {{model.portfolio}}
    </div>
  </article>
  <article>
    <strong>Hey, <\br> I'm {{model.name}}</strong>
    <p>
      {{model.description}}
    </p>
  </article>
  <div>
    {{#each model.projects as |project|}}
      <li>{{#link-to "search.project" project}}{{project}}{{/link-to}}</li>
    {{/each}}
  </div>

</div>