<div>
  <article class="title-block">
    <img src="{{user.image}}">
    <div class="user-stars">{{star-rating user.averageRating}}</div>
    <div class="user-name">{{user.name}}</div>
    <div class="user-skills">
      {{user.skills}}
    </div>
  </article>


  <article class="about-block">
    <div class="user-greeting">Hey, <\br> I'm {{user.name}}</div>
    <p>
      {{user.description}}
    </p>
  </article>


  <div class="projects-list">
    <div class="projects-title">Projects</div>
    {{#each projects as |project|}}
      {{#each user.projects as |usedProject|}}
        {{#if (compare-values project.id usedProject)}}
          {{#unless project.active}}
            {{#link-to "search.project" usedProject}}
              <div class="project-item">
                <img src="{{project.image}}" style="width: 100px; height: 100px;" align="middle">
                <div class="project-name">{{project.name}}</div>
              </div>
            {{/link-to}}
          {{/unless}}
        {{/if}}
      {{/each}}
    {{/each}}
  </div>
</div>