<div>
  <article class="title-block">
    <img src="{{user.image}}" style="width: 100px; height: 100px;" align="middle">
    <div>{{star-rating user.averageRating}}</div>
    <h2>{{user.name}}</h2>
    <div>
      {{user.skills}}
    </div>
    <div>
      {{user.portfolio}}
    </div>
  </article>
  <article>
    <strong>Hey, <\br> I'm {{user.name}}</strong>
    <p>
      {{user.description}}
    </p>
  </article>
  <div>
    {{#each projects as |project|}}
      {{#each user.projects as |usedProject|}}
        {{#if (compare-values project.id usedProject)}}
          {{#if project.active}}
            <h4>Current Project</h4>
            {{#link-to "search.project" usedProject}}
              <div>
                <img src="{{project.image}}" style="width: 100px; height: 100px;" align="middle">
                <div>{{project.name}}</div>
              </div>
            {{/link-to}}
          {{else}}
            <h4>Past Project</h4>
            {{#link-to "search.project" usedProject}}
              <div>
                <img src="{{project.image}}" style="width: 100px; height: 100px;" align="middle">
                <div>{{project.name}}</div>
                <div>{{project.description}}</div>
              </div>
            {{/link-to}}
          {{/if}}
        {{/if}}
      {{/each}}
    {{/each}}
  </div>
</div>