<div class="project-profile">
  <div class="project-name">{{project.name}}</div>

  <div class="image-box">
    <img src="{{project.image}}">
  </div>

  <div class="project-about-title">About</div>

  <div class="project-description">{{project.description}}</div>
  <div>
    <div class="collaborators-title">
      Collaborators
    </div>

    <div class="collaborators-list">
    {{#each project.collaborators as |member|}}
      {{#each users as |user|}}
        {{#if (compare-values user.id member)}}
          {{#link-to "search.profile" member}}
            <div class="collaborator-item">
              <img src="{{user.image}}" style="width: 100px; height: 100px;">
              <div class="collaborator-name">{{user.name}}</div>
            </div>
          {{/link-to}}
        {{/if}}
      {{/each}}
    {{/each}}
      </div>
  </div>
</div>
