<div class="new-user">
{{#if firstPage}}


  <div class="title">WHO ARE YOU?</div>
  <form {{action "toNextPage" on="submit"}}>
    <div class="text-area">
      {{input type="text" value=name  placeholder='Name' size="30" required='true'}}
    </div>
    <div class="text-area">
      {{input type="email" value=email  placeholder='Email' size="30" required='true'}}
    </div>
    <div class="text-area">
      {{input type="tel" value=phone  placeholder='Phone' size="30"}}
    </div>
    <div class="text-area">
      {{input type="password" value=password  placeholder='Password' size="30" required='true'}}
    </div>
    <button type="submit">Continue</button>
  </form>


{{else}}
  {{#if secondPage}}


  <div class="title">WHAT DO YOU DO?</div>
    <form {{action "toNextPage" on="submit"}}>
      <div class="text-area">
        {{textarea name="descriptionAera" value=description placeholder='Description' cols="40" rows="4" maxlength="150"}}
        <div class="char-count">
          {{character-counter characterCount=this.description.length characterLimit=150 inputClass='descriptionAera'}}characters remaining
        </div>
      </div>
      <button  type="submit">Continue</button>
    </form>


  {{else}}
    {{#if thirdPage}}


    <div class="title">WHAT'S IN <\br> YOUR TOOLBAG?</div>
      <form {{action "toNextPage" on="submit"}}>
        <div class="text-area">
          {{input type="text" value=skills  placeholder='Skills' size="30" required='true'}}
        </div>
        <button type="submit">Continue</button>
      </form>


    {{else}}
      {{#if fourthPage}}


      <div class="title">SHOW OFF <\br> YOUR STUFF</div>
        <form {{action "saveUser" on="submit"}}>
          <div class="text-area">
            {{input type="url" value=portfolio  placeholder='Portfolio Link' size="30"}}
          </div>
          <button type="button">Upload Profile Image</button>
          <button type="submit">Sign In</button>
        </form>


      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
</div>